<ion-view view-title="{{companyText}}">

	<ion-nav-bar class="bar-stable nav-title-slide-ios7">

		<ion-nav-buttons side="left">
			<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
		</ion-nav-buttons>

	    <ion-nav-buttons side="right">
	        <button class="button icon icon--assertive ion-trash-a positive" ng-click="delete()" >
	        </button>
	    </ion-nav-buttons>

	</ion-nav-bar>

	<ion-header-bar class="bar-light bar-subheader">
	
		<input type="text" class="input__search" placeholder="Buscar empresa..." data-ng-model="companySearch">

		<button 
			ng-if="!!companySearch"
			class="button button-icon ion-search input-button"
			ng-click="search()">
		</button>

	</ion-header-bar>

	<ion-content>

		<div class="card" ng-if="!!isSearchResult">
			<div class="item item-text-wrap">
				La búsqueda se realiza sobre todos los datos, independientemente de si estás viendo "Potenciales", "En seguimiento" o "Todas".
			</div>
			<div class="item item-text-wrap">
				Para volver a ver la búsqueda del menú, pulsa "Refrescar"
			</div>			
		</div>		

		<ion-list show-delete="false" can-swipe="true">
			<ion-item 
				class="item item-icon-right item-button-right " 
				ng-repeat="company in companies" 
				ng-click="changeState(company)"
				>
				<h2 class="strong">{{company.showName}}</h2>
				<p><span class="strong">Distancia: </span> {{company.distance}}</p>
				<i class="icon ion-chevron-right"></i>

					<ion-option-button ng-class="{'none' : !!company.following }" class="button-positive" ng-click="setFollowing(company)">
					Seguir
					</ion-option-button>

					<ion-option-button ng-class="{'none' : !company.following }" class="button-assertive" ng-click="setFollowing(company)">
					Dejar de seguir
					</ion-option-button>

					<ion-option-button  ng-click="setFollowing(company)">
						<i ng-class="{'icon--positive' : !company.following, 'icon--assertive' : !!company.following }" class="icon ion-person-add "></i>
					</ion-option-button>

					<ion-option-button class="button-calm" ui-sref="app.notes({uid : company.uid})" ng-click="share()">
						<i class="icon ion-compose"></i>
					</ion-option-button>

			</ion-item>
			<!-- <ion-infinite-scroll icon="ion-loading-c" ng-if="(!noMoreItemsAvailable && !isSearchResult)" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll> -->
			<button class="button button-full icon icon--positive ion-refresh" ng-click="refresh()">
			</button>
		</ion-list>
	</ion-content>
</ion-view>